body {
  background-color: #C1DFF0;
}

#myHeader {
  text-align: center;
}

#myHeader .jumbotron {
  padding: 0;
}

#myTable {
  width: 80%;

}

#myTable th, #myTable td {
  border: 2px solid black;
}

#myTable td {
  width: 10px;
  height: 5px;
}

#userInput {
  display: flex;
  margin: 10px 20px;
  justify-content: center;
}
#userInput h2{
  clear: both;
  display: flex;
  justify-content: center;
}

#userInput input#number {
  font-size: 20px;
  margin: 5px;
  width: 10%;
}

.botItGame {
  position: fixed;
  width: 600px;
  height: 200px;
}

.botItGame img {
  position: relative;
  height: 200px;
  width: 200px;
}
